@font-face {
    font-family: 'Century Bold';
    src: url('fonts/Century-Bold.woff2') format('woff2'),
         url('fonts/Century-Bold.woff') format('woff');
    font-weight: bold;
}

body {
    font-family: 'Century Bold', serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-image: url('images/background.png');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    letter-spacing: -0.02em; /* Slightly negative letter spacing */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.35);
    z-index: -1;
}

h1, h2, h3 {
    font-family: 'Century Bold', serif;
    font-weight: bold;
    letter-spacing: -0.02em; /* Slightly negative letter spacing */
    position: relative; /* For positioning the hat */
}

header {
    width: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.logo {
    position: absolute;
    left: 20px;
    top: 10px;
}

.logo img {
    width: 90px;
    height: 90px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 120px; /* Add padding to create space for the header */
    position: relative;
    z-index: 1;
}

#hero {
    text-align: center;
    margin-bottom: 3rem;
}

#hero h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.red {
    color: rgb(247, 83, 83);
}

.white {
    color: white;
}

.blue {
    color: #126bd6;
}

.hat-container {
    position: relative;
}

.hat {
    position: absolute;
    top: -20px; /* Adjust as necessary */
    left: 20px; /* Adjust as necessary */
    width: 50px; /* Adjust as necessary */
    transform: rotate(40deg); /* Adjust rotation as necessary */
}

.content-box {
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgba(30, 30, 30, 0.9);
    padding: 2rem; /* Increased padding */
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Make content box responsive */
    align-items: center;
    border: 1px solid #333;
    font-size: 1.2rem; /* Increased font size */
}

.content-box img {
    max-width: 100%; /* Make image responsive */
    height: auto;
    margin-bottom: 2rem; /* Adjust margin for responsiveness */
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Make cards wrap */
    justify-content: space-between;
    margin-top: 2rem;
}

.card {
    background-color: rgba(30, 30, 30, 0.9);
    padding: 1.2rem; /* Increased padding */
    margin: 6px;
    border-radius: 8px;
    flex: 1 1 calc(33% - 12px); /* Adjust flex basis for responsiveness */
    border: 1px solid #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-size: 1.5rem; /* Increased font size */
}

.fading-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, white, transparent);
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(30, 30, 30, 0.0);
    margin-top: 2rem;
    font-size: 0.9rem;
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .logo {
        left: 10px;
        top: 10px;
        position: relative;
        margin-bottom: 1rem;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    main {
        padding: 1rem;
        padding-top: 200px; /* Adjust padding for mobile */
    }

    #hero h1 {
        font-size: 2.5rem; /* Adjust font size for mobile */
    }

    #hero h3 {
        font-size: 1.5rem; /* Adjust font size for mobile */
    }

    .content-box {
        font-size: 1rem; /* Adjust font size for mobile */
        padding: 1rem;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        flex: 1 1 100%; /* Make cards full-width */
        margin: 10px 0;
    }
}
